@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	font-family: 'Hind', sans-serif;
	font-size: 18px;
	position: relative;
}

h1 {
	font-family: 'Noble', sans-serif;
	font-size: 175%;
	color: #4A4444;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 3% 0;
}

h3 {
	font-family: 'Noble', sans-serif;
	color: #4A4444;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1%;
}

p {
	padding: 2%;
	color: #4AAAAA;
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
}

#banner-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

/*---Start Image Slider---*/
.slider {
	width: 100%;
}

.slider1 img {
	min-width: 100%;
	margin: 0 auto;
}

.slider .bx-wrapper .bx-controls-direction a {
	outline: 0 none;
	position: absolute;
	text-indent: -9999px;
	top: 40%;
	height: 71px;
	widows: 40px;
	z-index: -1;
	transition: all 0.7s;
}

.slider .bx-wrapper:hover .bx-controls-direction a {
	z-index: 5;
}

.slider .bx-wrapper .bx-prev {
	background-color: #000 url("img/left-arrow-white.png") no-repeat 8px 13px;
	left: 0px;
	opacity: 0.3;
}

.slider .bx-wrapper .bx-prev:hover {
	opacity: 0.6;
}

.slider .bx-wrapper .bx-next{
	background-color: #000 url("img/right-arrow-white.png") no-repeat 10px 12px;
	right: 0px;
	opacity: 0.3;
}

.slider .bx-wrapper .bx-next:hover {
	opacity: 0.6;
}
/*---End Image Slider---*/

.one-half {
	width: 44%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.one-third {
	width: 28%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.left-col {
	width: 60%;
	float: left;
	margin: 4% 0 4% 4%;
}

.sidebar {
	width: 26%;
	float: left;
	margin: 4%;
}

.sidebar img {
	opacity: 0.8;
}

.clearfix {
	clear: both;
}

/*---Start Parallax Section---*/
.parallax-1 {
	background: url("img/geran-de-klerk.jpg") repeat fixed 100%;
	text-align: center;
}

.parallax-inner {
	padding-top: 90px;
	padding-bottom: 300px;
}

.parallax-2 {
	background: url("img/aaron-burden-1.jpg") repeat fixed 100%;
	text-align: center;
}

.parallax-inner h3, .parallax-inner p {
	color: #F1F1F1;
}
/*---End Parallax Section---*/



/*---Contact Section Begins---*/

#contact-section {
	height: 570px;
	border: 1px solid black;
	margin: 0;
	padding: 0 auto;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}
/*---Contact Section Ends---*/



footer {
	background: #262E37;
	width: 100%;
    margin: 0;
	padding: 0;
	padding: 1% 0;
	overflow: auto;
}

footer p {
	color: #FFF;
	opacity: 0.9;
}


/*---------------MEDIA QUERIES-------------*/

@media screen and (max-width: 760px) {
	.slider .bx-wrapper .bx-controls {
		display: none;
	}
	.parallax-inner {
		display: none;
	}
	.one-third {
		width: 100%;
		margin: 4% 0;
	}
	.one-half {
		display: none;
	}
	h1 {
		font-size: 125%;
	}
	.left-col {
		width: 100%;
		margin: 0 0 3% 0;
	}
	.sidebar {
		width: 100%;
		margin: 0;
	}
	img {
		width: 100%;
	}
	h3 {
		padding-top: 3%;
	}   
}	

/*---RESPONSIVE CONTACT FORM---*/
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}



